@import "styles/variables";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  border-bottom: 1px solid grey;
  height: #{$headFootHeight};
  flex-shrink: 0;

  &__content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  &__logo {
    font-family: "PT Mono", monospace;
    font-size: 1.7rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.footer {
  border-top: #{$headFootBorder};
  height: #{$headFootHeight};
  flex-shrink: 0;

  &__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  &__logo {
    font-family: "PT Mono", monospace;
    font-size: 1.5rem;
  }

  &__tagline {
    width: 30%;
    font-size: 0.9rem;
    line-height: 0.8rem;
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}