<div class="app">
    <div class="header">
        <div class="header__content-wrap">
            <p class="header__logo">КортОнлайн</p>
            <h1 class="header__title">Аренда теннисных кортов</h1>
        </div>
    </div>
    <div class="content"></div>
    <div class="footer">
        <div class="footer__content-wrap">
            <p class="footer__logo">КортОнлайн</p>
            <p class="footer__tagline">
                Сервис онлайн<br>бронирования<br>теннисных кортов.
            </p>
        </div>
    </div>
</div>
