@import "styles/variables";
@import "styles/mixins";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  border-bottom: 1px solid grey;
  height: $headFootHeight;
  flex-shrink: 0;

  &__content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include leftRightPaddings;
  }

  &__logo {
    font-family: $logoFonts;
    font-size: 1.7rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.content {
  display: inline-block;
  @include leftRightPaddings;
}

.footer {
  border-top: $headFootBorder;
  height: $headFootHeight;
  flex-shrink: 0;

  &__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include leftRightPaddings;
  }

  &__logo {
    font-family: $logoFonts;
    font-size: 1.5rem;
    line-height: 1.3rem;
  }

  &__tagline {
    width: 30%;
    font-size: 0.9rem;
    line-height: 0.8rem;
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}