<div class="flex-wrapper">
    <h1 class="header">КортОнлайн</h1>
    <div class="city-dropdown city-dropdown_margin">
        <p class="city-dropdown__tittle">Выберите ваш город:</p>
        <mat-form-field appearance="fill">
            <mat-label class="city-dropdown__label">Город</mat-label>
            <mat-select [(ngModel)]="selectedCityName">
                @for (city of cities; track city.id) {
                    <mat-option [value]="city.name">
                        {{city.name}}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button (click)="confirmSelection()">Подтвердить</button>
    </div>
</div>
