@import "app/styles/resetCSS";
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
